.App {
    --header_height: 60px;
}

.hw {
    position: relative;
    width: auto;
    min-width: 360px;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    margin: 130px 0 0 70px;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
}